*{
    margin: 0px;
}
.dark{
    background-color: #191a1b;
   
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .btn{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
} 

.heading-list{
    color: white;
    background-color: #191a1b;
    margin: 0;
    
    padding: 20px;
}

.btn{
   display: inline-block;
   margin: 5px;
}

.table{
    margin-top: 0px;
    position: sticky;
}